<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular.min.js"></script>
    <title>国珍报单统计</title>
</head>
<body style="font-size: 3em;">
<div ng-app="guozhenApp" ng-controller="guozhenCtrl">


    <table class="table table-striped" >
        <div class="page-header">
            <h1>报单统计
                <small>用户:周平</small>
            </h1>
        </div>

        <thead>
        <tr>
            <th rowspan="2">卡号</th>
            <th rowspan="2">姓名</th>
            <th colspan="3">业绩</th>
            <th rowspan="2"></th>
        </tr>
        <tr>
            <th ng-repeat="month in last3Months">
                {{month}}
            </th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="info in infoList">
                <td>{{info.no}}</td>
                <td>{{info.name}}</td>
                <td>{{info.money[last3Months[0]]}}</td>
                <td>{{info.money[last3Months[1]]}}</td>
                <td>{{info.money[last3Months[2]]}}</td>
                <td><span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="delCard(info)" style="font-size:3em;"></span></td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success btn-lg" onclick="addCard()" style="font-size: 2em;width:50%;height:2em">添加卡号</button>
    <br>
    <br>
    状态过滤:
    <select ng-init="customerState = ''" ng-model="customerState">
        <option value="">全部</option>
        <option value="1">即将退出</option>
        <option value="0">正常</option>
        <option value="3">已退出</option>
    </select>
    <table class="table table-striped" ng-repeat="info in infoList" ng-if="info.customers">
        <thead>

        <tr>
            <th colspan="4">
                <div class="page-header">
                    <h1>{{info.name}} 的 客户信息
                        <small>客户数量: {{info.customers.count}}</small>
                    </h1>
                </div>
            </th>
        </tr>

        <tr>
            <th>姓名</th>
            <th>等级</th>
            <th>状态</th>
            <th>卡号</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="customer in info.customers.list|filter:stateFilter" style="{{customer.user_status==1?'color:red':''}}{{customer.user_status==3?'color:gray':''}}">
            <td>{{customer.mname}}</td>
            <td>{{customer.rank}}级</td>
            <td >{{customer.user_status_text||"正常"}}</td>
            <td>{{customer.mcode}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script>
    var guozhenApp = angular.module('guozhenApp', []);
    guozhenApp.controller('guozhenCtrl', function ($scope, $timeout) {
        $scope.infoList = [{"no":"数据加载中...."}];
        $scope.last3Months = getLast3Months();
        $.post("https://740670558.e5cm.xyz/weapp/guozhen/get", null, function (result) {
            $timeout(function () {
                //alert(JSON.stringify(result));
                $scope.infoList = result;
            }, 0);
        });

        $scope.delCard = function(song) {
            if(confirm("确定删除卡号 "+song.no+" 吗?")){
                $.post("https://740670558.e5cm.xyz/weapp/guozhen/delCard", {"id":song.id}, function (result) {
                    if(result){
                        location.reload();
                    }else{
                        alert("操作失败");
                    }
                });
            }
        }
        $scope.stateFilter = function (customer) {
            return $scope.customerState==='' || $scope.customerState===customer.user_status;
        };
    });

    function addCard() {
        var cardNo=prompt("请输入卡号");
        if(cardNo){
            $.post("https://740670558.e5cm.xyz/weapp/guozhen/addCard", {"no":cardNo}, function (result) {
                if(result) {
                    location.reload();
                }else{
                    alert("操作失败");
                }
            });
        }
    }

    function getLast3Months() {
        var monthList = [];
        var date = new Date;
        var year = date.getFullYear();
        var month = date.getMonth();
        monthList.push(year + "-" + addPreZero(month + 1));
        var month_1 = month - 1 >= 0 ? month - 1 : 11;
        var year_1 = month - 1 >= 0 ? year : year - 1;
        monthList.push(year_1 + "-" + addPreZero(month_1 + 1));
        var month_2 = month_1 - 1 >= 0 ? month_1 - 1 : 11;
        var year_2 = month_1 - 1 >= 0 ? year_1 : year_1 - 1;
        monthList.push(year_2 + "-" + addPreZero(month_2 + 1));
        return monthList;
    }
    function addPreZero(num) {
        return ('0' + num).slice(-2);
    }


</script>
</html>