<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>殷氏三兄弟</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
      <!-- VEGAS STYLE CSS -->
    <link href="assets/plugins/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- jQuery -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular.min.js"></script>
    <script src="gallery/galleryFiles.js"></script>
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
      <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>-->
    <![endif]-->
    <link rel="stylesheet" href="assets/css/colorbox.css">
    <!-- Include the imagesLoaded plug-in -->
    <script src="assets/js/jquery.imagesloaded.js"></script>
    <!-- include colorbox -->
    <script src="assets/js/jquery.colorbox-min.js"></script>
    <!-- Include the plug-in -->
    <script src="assets/js/jquery.wookmark.js"></script>
</head>
<body >
     <div class="navbar navbar-inverse navbar-fixed-top scrollclass" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">殷氏三兄弟</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">HOME</a></li>
                     <li><a href="#about">介绍</a></li>
                    <li><a href="#clients-testimonial">动态</a></li>
                    <li><a href="#pricing">画廊</a></li>
                    <li><a href="#contact">联系</a></li>
                     <li><a href="#social-section">社交</a></li>
                    
                </ul>
            </div>
           
        </div>
    </div>
   
    
   
    <!--HOME SECTION-->
    <div class="container" id="home">
        <div class="row text-center scrollclass">
            <div class="col-md-12">
                <span class="head-main">殷氏三兄弟</span>
                <h3 class="head-last">殷氏三兄弟高档手工提琴制作维修</h3>
            </div>
        </div>
    </div>
    <!--END HOME SECTION-->

    <!--ABOUT SECTION-->
    <section class="for-full-back color-bg-one" id="about">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>成员简介</h1>
                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                        <h5>

                            
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="for-full-back color-white" id="about-team">
        <div class="container">
            <div class="row text-center g-pad-bottom">
                <div class="col-md-8 col-md-offset-2 ">
                    <h3>OUR TEAM MEMBERS</h3>
                    <h5>
                    </h5>
                </div>

            </div>
            <div class="row text-center g-pad-bottom" style="text-align: left">
              
                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <div class="team-member">
                            <img src="images/members/yinbiao_pic.jpg" class="img-circle" alt="">
                            <h3><strong>殷彪</strong></h3>
                        </div>

                        <div class="alert alert-danger">
                            殷彪 1959年出生于中国黑龙江亚布力,生活在一个偏僻的小山村. 从小酷爱音乐. 但由于条件限制,没能从事音乐专业.<br>
                            1977年高中毕业后自学提琴制作. 后经人介绍,师从哈尔滨乐器厂张学国老师,学习提琴制作.
                            后又经张老师介绍, 师从中央音乐学院郑权老师.<br>
                            制作的提琴,销往世界各地,深受客户认可.<br>
                            2004年 因教会需要 来到杭州,参与教会小提琴基础演奏教学.
                        </div>
                    </div>
                   <div class="col-md-4 col-sm-4 col-xs-12">

                        <div class="team-member">
                            <img src="images/members/yinbin_pic.jpg" class="img-circle" alt="">
                            <h3><strong>殷斌</strong></h3>
                        </div>
                       <div class="alert alert-warning">
                           殷斌，生于1968年。1989跟兄长殷彪学习提琴制作。1993在中央音乐学院提琴研究中心学习提琴制作，1994年开始独立制作，并成立自己的工作室，目前在上海有工作室，主要从事提琴的制作和修复。地址是上海市汾阳路九弄17号楼404，电话13401355887，邮箱yinbinviolin@163.com
                       </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="team-member">
                            
                            <img src="images/members/yinjie_pic.jpg" class="img-circle" alt="">
                            <h3><strong>殷杰</strong></h3>
                        </div>
                        <div class="alert alert-info">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Praesent suscipit sem vel ipsum elementum venenatis.
                        </div>
                    </div>
                  
                
            </div>
           

        </div>
    </section>
    <!--END ABOUT SECTION--><div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>

     <!--CLIENT TESTIMONIALS SECTION-->
       <section id="clients-testimonial">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 ">
                    <h1>Members Dynamic</h1>
 <div id="carousel-example" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container center">
                                <div class="col-md-6 col-md-offset-3 slide-custom">

                                    <h4><i class="fa fa-quote-left"></i> 暂无动态信息! <i class="fa fa-quote-right"></i></h4>
                                     <div class="user-img pull-right">
						<img src="images/members/yinbiao_head.jpg" alt="" class="img-u image-responsive"  />
					</div>
                                    <h5 class="pull-right"><strong class="c-black">殷彪</strong></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container center">
                                <div class="col-md-6 col-md-offset-3 slide-custom">
                                    <h4> <i class="fa fa-quote-left"></i> 暂无动态信息! <i class="fa fa-quote-right"></i></h4>
                                         <div class="user-img pull-right">
						<img src="images/members/yinbin_head.jpg" alt="" class="img-u image-responsive"  />
					</div>
                                    <h5 class="pull-right"><strong class="c-black">殷斌</strong></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container center">
                                <div class="col-md-6 col-md-offset-3 slide-custom">
                                    <h4><i class="fa fa-quote-left"></i> 暂无动态信息! <i class="fa fa-quote-right"></i></h4>
                                        <div class="user-img pull-right">
						<img src="images/members/yinjie_head.jpg" alt="" class="img-u image-responsive"  />
					</div>
                                    <h5 class="pull-right"><strong class="c-black">殷杰</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
           </section>
     <!--END CLIENT TESTIMONIALS SECTION-->
    <!--PRICE SECTION-->
     <section class="for-full-back color-bg-one" id="pricing">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>Gallery</h1>

                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                        <h5>
                            life & works
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="price-sec" class="for-full-back color-white" style="padding: 50px;">
        <div class="container">
            <div class="content-middle">
                <h2><span>相册</span></h2>
                <p>活动,工作,作品等</p>
                <div id="container">
                    <div id="main1" ng-app="galleryApp" ng-controller="galleryCtrl">
                        <ul id="tiles">
                        <li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/0WechatIMG14.jpeg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/0WechatIMG14.jpeg" src="gallery/show_small/0WechatIMG14.jpeg" width="200" height="267">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/0WechatIMG15.jpeg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/0WechatIMG15.jpeg" src="gallery/show_small/0WechatIMG15.jpeg" width="200" height="267">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/0WechatIMG16.jpeg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/0WechatIMG16.jpeg" src="gallery/show_small/0WechatIMG16.jpeg" width="200" height="267">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/0WechatIMG17.jpeg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/0WechatIMG17.jpeg" src="gallery/show_small/0WechatIMG17.jpeg" width="200" height="355">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/0WechatIMG18.jpeg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/0WechatIMG18.jpeg" src="gallery/show_small/0WechatIMG18.jpeg" width="200" height="267">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/0WechatIMG4.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/0WechatIMG4.jpg" src="gallery/show_small/0WechatIMG4.jpg" width="200" height="267">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/0WechatIMG5.jpeg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/0WechatIMG5.jpeg" src="gallery/show_small/0WechatIMG5.jpeg" width="200" height="267">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/0WechatIMG6.jpeg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/0WechatIMG6.jpeg" src="gallery/show_small/0WechatIMG6.jpeg" width="200" height="267">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG0018.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG0018.jpg" src="gallery/show_small/IMAG0018.jpg" width="200" height="133">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG0046.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG0046.jpg" src="gallery/show_small/IMAG0046.jpg" width="200" height="300">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG0051.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG0051.jpg" src="gallery/show_small/IMAG0051.jpg" width="200" height="300">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG0379.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG0379.jpg" src="gallery/show_small/IMAG0379.jpg" width="200" height="133">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG0381.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG0381.jpg" src="gallery/show_small/IMAG0381.jpg" width="200" height="133">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG0384.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG0384.jpg" src="gallery/show_small/IMAG0384.jpg" width="200" height="300">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG0387.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG0387.jpg" src="gallery/show_small/IMAG0387.jpg" width="200" height="133">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG0562.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG0562.jpg" src="gallery/show_small/IMAG0562.jpg" width="200" height="133">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG0632.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG0632.jpg" src="gallery/show_small/IMAG0632.jpg" width="200" height="300">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG1723.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG1723.jpg" src="gallery/show_small/IMAG1723.jpg" width="200" height="133">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG1740.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG1740.jpg" src="gallery/show_small/IMAG1740.jpg" width="200" height="133">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG1749.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG1749.jpg" src="gallery/show_small/IMAG1749.jpg" width="200" height="133">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG1752.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG1752.jpg" src="gallery/show_small/IMAG1752.jpg" width="200" height="300">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles --><li ng-repeat="photo in galleryFiles">
                            <a href="gallery/show/IMAG1996.jpg" rel="lightbox" class="cboxElement">
                                <img ng-src="gallery/show_small/IMAG1996.jpg" src="gallery/show_small/IMAG1996.jpg" width="200" height="133">
                            </a>
                        </li><!-- end ngRepeat: photo in galleryFiles -->
                        </ul>
                    </div>
                </div>
                <!-- Once the page is loaded, initalize the plug-in. -->
                <script type="text/javascript">
                    var imagesLoaded = function(element){
                        console.log("function imagesLoaded");
                        // Prepare layout options.
                        var options = {
                            autoResize: true, // This will auto-update the layout when the browser window is resized.
                            container: $('#main1'), // Optional, used for some extra CSS styling
                            offset: 2, // Optional, the distance between grid items
                            itemWidth:200 // Optional, the width of a grid item
                        };

                        // Get a reference to your grid items.
                        var handler = $('#tiles li');

                        // Call the layout function.
                        //$.getScript("assets/js/jquery.wookmark.js");

                        $(handler).wookmark(options);

                        // Init lightbox
                        //$.getScript("assets/js/jquery.colorbox-min.js",function(){
                            $('a', handler).colorbox({
                                rel: 'lightbox'
                            });
                       // });

                    };
                    (function ($){
                        imagesLoaded();
                        //setTimeout(imagesLoaded,2000);
                        //$('#tiles').imagesLoaded(function() {
                            // Prepare layout options.
//                            var options = {
//                                autoResize: true, // This will auto-update the layout when the browser window is resized.
//                                container: $('#main1'), // Optional, used for some extra CSS styling
//                                offset: 2, // Optional, the distance between grid items
//                                itemWidth:200 // Optional, the width of a grid item
//                            };
//
//                            // Get a reference to your grid items.
//                            var handler = $('#tiles li');
//
//                            // Call the layout function.
//                            handler.wookmark(options);
//
//                            // Init lightbox
//                            $('a', handler).colorbox({
//                                rel: 'lightbox'
//                            });
                       // });
                    })(jQuery);
                </script>
            </div>
        </div>
    </section>
    <!-- END PRICE SECTION-->

  
    <!--STATS SECTION-->
    <section>
        <div class="container">
            <div class="row ">
                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>诚信</h3>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>传统</h3>
                    </div>

                </div>
                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>古典</h3>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>工艺</h3>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--END STATS SECTION-->

    <!--CONTACT SECTION-->
    <section class="for-full-back color-bg-one" id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>Contact</h1>
                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                        <h5>

                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="for-full-back color-white text-center" id="contact-inner">
        <div class="container">
           
                    <h1>联系方式</h1>

                     <div id="add">
                         <br />
                                                中国 杭州
                         <br />
                         电话: 13093779105
                        <br />
                         E-mail: yinbiao1959@gmail.com
                    </div>
              
        </div>
    </section>
    <!--END CONTACT SECTION-->
    <!--SOCIAL SECTION-->
    <section id="social-section">
        <div class="container">
            <div class="row text-center">
                    <div class="col-md-4 scl scl-dark-bk">
					<h4>FACEBOOK</h4>
					<p class="text-center"><a href="#"><i class="fa fa-facebook fa-5x"></i></a></p>
				</div>
				<div class="col-md-4 scl">
					<h4 >TWITTER</h4>
					<p class="text-center"><a href="#"><i class="fa fa-twitter fa-5x"></i></a></p>
				</div>
				<div class="col-md-4 scl scl-dark-bk">
					<h4 >GOOGLE +</h4>
					<p class="text-center"><a href="#"><i class="fa fa-google-plus fa-5x"></i></a></p>
				</div>
                    </div>
            </div>
        </section>
  
    <!--END SOCIAL SECTION-->
    <!--FOOTER SECTION -->
    <div class="for-full-back" id="footer">Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></div>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="assets/plugins/bootstrap.js"></script>  
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="assets/plugins/vegas/jquery.vegas.min.js"></script>
     <!-- SCROLL SCRIPTS -->
    <script src="assets/plugins/jquery.easing.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>


     <script>

         var galleryApp = angular.module('galleryApp', []);
         galleryApp.controller('galleryCtrl', function($scope, $timeout) {
             $scope.galleryFiles = galleryFiles;
             $scope.$on('ngRepeatFinished', function(ngRepeatFinishedEvent) {
                 console.log("galleryFinish");
                 $timeout(function () {
                     imagesLoaded();
                 }, 500);

             });
         });
         galleryApp.directive('onFinishRender',['$timeout', '$parse', function ($timeout, $parse) {
             return {
                 restrict: 'A',
                 link: function (scope, element, attrs) {
                     if (scope.$last === true) {
                         $timeout(function () {
                             scope.$emit('ngRepeatFinished'); //事件通知
                             //
                             var imgLi = [].slice.call(element.context.parentElement.children);
                             imgLi.forEach(function(li,index,array){
                                 var img = li.children[0].children[0];
                                 img.height = 200*img.naturalHeight/img.naturalWidth;
                             });

                         });
                     }
                 }
             }
         }]);

     </script>
     <!-- Once the page is loaded, initalize the plug-in. -->
     <script type="text/javascript">

     </script>

</body>
</html>
